
<div class='create_preparation_background'>
	
		<div class='navbar'>
	    	<div id="logo">
	      		<a href="/homepage">
	      		<span class='logo_text'>
	      		chop- <br> -chop</span></a>  
	    	</div>
	  	</div>    
	<div class='create_preparation'>
		<div class='preparation_form'>
			<% if @recipe %>
				<%= form_for @recipe  do |f| %>
						  <%= f.label :preparation %>:<br>
						  <%= f.text_area :preparation %><br>
						  <%= f.label :image %>
    					<%= f.file_field :image, class: 'form-control'%>
						  
						  <br>
						  <%= f.submit "Done!" %>
				<% end %>	
			<% else %>
				<%= form_for @recipe_last_step do |f| %>
						  <%= f.label :preparation %><br>
						  <%= f.text_area :preparation %><br/>
						  <%= f.label :image %>
    					<%= f.file_field :image, class: 'form-control'%>
    					<br>

						  <%= f.submit "Done!" %>
				<% end %>	
			<% end %>

		</div>

			
	</div>	
</div>




