<h1>New recipe</h1> 

<% if @new_recipe %> 
<%= form_for @new_recipe do |f| %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

   <p>
    <%= f.label :time %><br />
    <%= f.number_field :time %>
  </p>
  <%= f.submit 'Next' %>
  <% end %>
<% else %> 
  <h3>Ingredients</h3>
  <%= fields_for :ingredients do |ing| %>
      <p>
        <%= ing.label :name %>
        <%= ing.text_field :name %>
        <%= ing.label :quantity %>
        <%= ing.number_field :quantity %>
        <%= ing.label :measure %>
        <%= ing.text_field :measure %>
        </p>
        <p>
        <%= ing.submit 'Add ingredient', :name => "add_ingredient" %>
        <%= ing.submit 'Delete checked ingredients', :name => "remove_ingredient" %>
        <%= ing.submit 'Save recipe' %>
        </p>
      
  <% end %>
<% end %>