

<div class="left-half">
<% if @new_recipe %> 
<h1>New recipe</h1> 
<%= form_for @new_recipe do |f| %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

   <p>
    <%= f.label :time %><br />
    <%= f.number_field :time %>
  </p>
  <%= f.submit 'Next' %>
  <% end %>
<% else %> 
  <h1>Ingredients</h1>
  <%= form_for [@recipe, @ingredient] do |ing| %>
      <p>
        <%= ing.label :name %>
        <%= ing.text_field :name %>
        <%= fields_for @ingredients_recipes do |details| %> 
          <%= details.label :quantity %>
          <%= details.number_field :quantity %>
          <%= details.label :measure %>
          <%= details.text_field :measure %>
        <% end %>
        </p>
        <p>
        <%= ing.submit 'Add ingredient', :name => "add_ingredient" %>
        <%= link_to 'Next Step', edit_recipe_path(@recipe) %>
        </p>
  <% end %>
<% end %>
</div>
<div class="right-half">
  <% if @added_ingredients %>
    <h1>Chosen Ingredients</h1>
    <% @added_ingredients.each do |ingredient| %>
    <p>Name:
      <%= ingredient.name %>
    </p>    
    <% end %>
  <% end %>
</div>

