<div class='create_recipe_background'>
  
  <div class='navbar'>
    <div id="logo">
        <a href="/homepage">
        <span class='logo_text'>
        chop- <br> -chop</span></a>  
    </div>
  </div>    

  <div class= 'create_recipe_form'>
    <div class="left-half">
      <div class='create_title_time'>
        <% if @new_recipe %> 
          <h1>New recipe</h1> 
            <%= form_for @new_recipe do |f| %>
           
              <%= f.label :title %><br />
              <%= f.text_field :title %>
          
              <br>
              <%= f.label :time %><br />
              <%= f.select :time, options_for_select([15, 30])%>
            <br>
            <br>
              <%= f.submit 'Next' %>
            <% end %>
        </div>  
      <% else %> 
        <h3 >Ingredients</h3>
        <%= form_for [@recipe, @ingredient] do |ing| %>
        <p>
          <%= ing.label :name %><br>
          <%= ing.text_field :name %><br>
          <%= fields_for @ingredients_recipes do |details| %> 
            <%= details.label :quantity %><br>
            <%= details.number_field :quantity %><br>
            <%= details.label :measure %><br>
            <%= details.text_field :measure %>
          <% end %>
        </div>  
          </p>
          <p>
          <%= ing.submit 'Add ingredient', :name => "add_ingredient" %>  
          </p>

      <% end %>
    <% end %>
    </div>
    <% if @recipe %>
    <div class="right-half">
      <h3>List of Ingredients</h3>
      <ul> <% @added_ingredients.each do |ingredient| %>
        <li><%= ingredient.name %></li>
      <ul>  
      <% end %>
    </div>

    
      <button class='next_step'><%= link_to "next step", edit_recipe_path(@recipe) %></button>
    <% end %>

</div> 


