<div class='show_recipe_background'>
	<div class='navbar'>
    	<div id="logo">
        <a href="/homepage">
        <span class='logo_text'>
        chop- <br> -chop</span></a>  
    	</div>
  	</div> 


  	<div class= 'show_container'>

		<div class='show_recipe_page'>
			<div id= 'recipe'>
				<h3> <%= @recipe.title %> </h3>



				<h4> It will take you <%= @recipe.time %> minutes! </h4>

				<p> Preparation <%= @recipe.preparation %> </p>
			</div>
		</div>	

		
		<div class='show_ingredients_page'>
			<div id='list_of_ingredients'>

			<h3>Ingredients</h3>	
			<ul><% @recipe.ingredients.each do |ingredient| %>

				<li><%= ingredient.name %></li>	
			<% end %>
			</ul>

			</div>

			<%= link_to "Home", user_root_path%>
		</div>
	</div>
</div>